* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  overflow: auto;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.4;
}
a:hover {
  opacity: 1.8;
  color: aqua;
}
.logo {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #66347a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  cursor: pointer;
  display: none;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}
.Sobre {
  font-size: 18px;
  border-style: solid;
  border-width: 1px;
  margin: 80px;
  padding: 15px;
}
.photo {
  display: flex;
  justify-content: center;
}
.jobs {
  display: grid;
  justify-content: center;
}
.Nome {
  display: flex;
  justify-content: center;
  margin: 14px;
  font-size: 5rem;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: #66347a;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  background: linear-gradient(84deg, #5c1b91, #000000);
  background-size: 180% 180%;
  animation: body 6s ease infinite;
}

@keyframes body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
div.container {
  height: 50%;
  border-style: groove;
  border-width: 1px;
  margin: 80px;
  padding: 30px;
}

div.titulo {
  font-size: 3vw;
  text-align: center;
  text-align: center;
  margin: 0 0 30px 0;
}

div.op {
  width: auto;
  display: inline-block;
  font-size: 2vw;
  text-align: center;
  min-width: 33%;
  padding: 50px 0 50px 0;
  border-style: solid;
  border-width: 1px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}
